{% extends "NensQueFemFrontBundle:Layout:frontal.html.twig" %}


{% block content %}

<div class="container">

    <div class="logo-header">
        <h1>Nens Què Fem?</h1>
        <p>Cerca d'activitats per a nens</p>
   </div>

    <div class="show-div">
        <form action="{{ path('search') }}" method="get" {{ form_enctype(form_search) }}>
            {{ form_errors(form_search) }}

            <div class="row">
                <div class="span3">
                    {{ form_row(form_search.category) }}
                </div>
                <div class="span3">
                    {{ form_row(form_search.city) }}
                </div>
                <div class="span3">
                    {{ form_label(form_search.date_from) }}
                    {{ form_errors(form_search.date_from) }}
                    {{ form_widget(form_search.date_from, { 'attr': {'class': 'datepicker'} }) }}

                    {{ form_label(form_search.date_to) }}
                    {{ form_errors(form_search.date_to) }}
                    {{ form_widget(form_search.date_to, { 'attr': {'class': 'datepicker'} }) }}
                </div>

                <div class="span3">
                    {{ form_row(form_search.years) }}
                </div>

                {{ form_rest(form_search) }}
            </div>

            <div class="row">
               <div class="span3 offset9">
                   <button type="submit" class="btn btn-large btn-primary">Search</button>
                </div>
            </div>




        </form>
    </div>


    <hr>


    <div class="row">
        <div class="span3">
            <h4>Totals:</h4>

            {#{% for key, total in search_result.total %}#}
                {#<h5><i class="icon-chevron-right"></i> {{key}}:</h5>#}
                {#<ul class="nav nav-list">#}
                    {#{% for total in total %}#}
                    {#<li>#}
                        {#<a href="#"><i class="i"></i> {{ total }} ({{ random(10) }})</a>#}
                    {#</li>#}
                    {#{% endfor %}#}
                {#</ul>#}
            {#{% endfor %}#}


        </div>

        <div class="span9">
            <h5>Results:</h5>

            <ul class="unstyled">
                {% for result in pager.currentPageResults %}
                    <li>
                        <div>
                            <h6><a href="#">{{ result.title }}</a></h6>
                            <p>{{ result.description }}</p>

                            <ul class="breadcrumb">
                                <li>{{ result.category.name }} <span class="divider">/</span></li>
                                <li>{{ result.city.name }} <span class="divider">/</span></li>
                            </ul>
                        </div>
                        <hr>

                    </li>
                {% else %}
                    No s'ha trobat cap resultat.
                {% endfor %}
            </ul>

        </div>
    </div>

    <div class="pagination-centered">
        {{ pagerHtml|raw }}
    </div>



    <footer>
        <p>&copy; Jordi Llonch 2013</p>
    </footer>

</div> <!-- /container -->


<script type="text/javascript">
    var startDate = new Date();

    $(document).ready(function() {
        $('.datepicker').datepicker({
                        'format': 'dd-mm-yy',
                        'weekStart': 1

        });
    });
</script>

{% endblock %}
